<template name="entrySignedIn">

    <li class="nav-parent">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="User Menu">{{{beforeSignedInAs}}}{{signedInAs}}</a>
        <ul class="dropdown-menu children" role="menu">
            <li class="profile-button">
                <a class='profileLink' href='{{profileUrl}}'>Profile</a>
            </li>
            <li class="sign-out-button">
                <a href="{{pathFor 'entrySignOut'}}">{{{beforeSignOut}}}{{t9n "signOut"}}</a>
            </li>
        </ul>
    </li>
</template>
